<div class="container" align="center">
    {{#each consulta}}
    <div class="col-md-4">
        <a href='http://localhost:3000/viaje/{{paraid}}#destinos'>
            <div class="col-md-12 imagen" id={{paraid}}>
                <div class="row">
                    <div class="description col-md-8">
                        <p>Save {{reserva}}$ pay only</p>
                    </div>
                    <div class="price col-md-4">
                        <p>{{precio}}$</p>
                    </div>
                </div>
            </div>
        </a>

        <p>{{ciudad}}</p>
    </div>
    {{/each}}