<div class="mapa">
    <div class="datos">
        <h2>Dirección: </h2>
        <h3>{{direccion}}</h3>
        <button type="button" class="btn btn-primary" onclick='location.href="http://localhost:3000/home"'>Home</button>

    </div>
    <div>
        <iframe src={{localizacion}} width={{width}} height={{height}} frameborder={{frameborder}} style={{style}} {{pantalla}}></iframe>
    </div>

</div>